<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
		

	<bean id="emp" class="com.cluster.Employee">
		<property name="empid" value="111" />
		<property name="ename" value="Ravi" />
	</bean>

	<bean id="cust" class="com.cluster.Customer">
		<property name="cid" value="555" />
		<property name="cname" value="Kumar" />
	</bean>

	<bean class="com.cluster.Hello" />

</beans>
